/* LESS Document */
@footer-padding:      40px;  // Set here the footer padding
@footer-inner-height: 150px; // Set here the footer height (without padding)
@footer-height: @footer-inner-height + @footer-padding*2;

#footer {
	 position: absolute;
 	bottom: 0;
 	width: 100%;
 	height: @footer-height;
 	padding: @footer-padding 0;
	background-color: yellow;	
}
